section.hero {
  margin-top: 3rem;
  display: flex;
}

section.hero .left-section {
  width: 75%;
}
section.hero .left-section .parent-avater {
  display: flex;
  align-items: end;
}
section.hero .avater {
  width: 150px;
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
  border: 3px solid #0947ff;
  padding: 3px;
  box-shadow: inset 0px 0px 20px 3px #0038ff;
  opacity: 0.9;
}
section.hero .left-section .parent-avater .icon-verified_user {
  color: rgb(0, 106, 255);
  margin-bottom: 0.8rem;
  margin-left: 7px;
}

section.hero h1.title {
  font-size: 2.5rem;
  line-height: 2.45rem;
  margin: 24px 0;
  color: var(--title);
  background: linear-gradient(
  135deg,
  #0033ff 10%,
  #007bff 35%,
  #00b8d9 70%,
  #068398 100%
);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

section.hero p.sub-title {
  line-height: 1.7rem;
  margin-bottom: 32px;
  color: var(--subtitle);
  font-size: 18px;
  letter-spacing: 2px;
  opacity: 0.7;
}

section.hero .all-icons {
  display: flex;
  font-size: 1.9rem;
  gap: 1.5rem;
  color: #a7a7a7 !important;
  /* transition: 0.5s; */
}
.icon-twitter,
.icon-github,
.icon-linkedin-square {
  color: var(--mainColor);
}
.icon-twitter:hover {
  /* font-size: 2rem; */
  cursor: pointer;
  transition: 0.4s;
  color: var(--title);
}
.social {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid var(--secmainCol);
}
.social a {
  /* width: 100%; */
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
background: linear-gradient(
  135deg,
  #001fff 0%,
  #007bff 25%,
  #00e5ff 50%,
  #7a00ff 75%,
  #ff00c8 100%
);


  background-size: 300% 300%;
  animation: border 2s ease infinite;
  border-radius: 50px;
  padding: 6px !important;
}
.front{
  background-color: black;
  border: 1px solid blue;
    width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 10px;
}
.hover1:hover {
  box-shadow: inset 0 0 14px 2px var(--secmainCol);
  color: var(--title);
}
.hover2:hover {
  box-shadow: inset 0 0 14px 2px var(--secmainCol);
  color: var(--title);
}
.hover3:hover {
  box-shadow: inset 0 0 14px 2px var(--secmainCol);
  color: var(--title);
}
.icon-twitter:hover {
  /* font-size: 2rem; */
  cursor: pointer;
  transition: 0.4s;
  color: var(--title);
}
.icon-github:hover {
  /* font-size: 2rem; */
  cursor: pointer;
  transition: 0.4s;
  color: var(--title);
}

.icon-linkedin-square:hover {
  /* font-size: 2rem; */
  cursor: pointer;
  transition: 0.4s;
  color: var(--title);
}
section.hero .right-section {
  width: 25%;
  height: 350px;
}

section.hero .right-section div canvas {
  width: 400px;
  height: 500px;
}

@media (max-width: 800px) {
  section.hero .right-section {
    display: none;
  }
}
@keyframes border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}