main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
/* .mySwiper {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background: rgb(67, 67, 214);
  padding: 4px;
} */
.link {
  color: var(--secmainCol);
  background: #010167;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
    background: linear-gradient(
  135deg,
  #0033ff 10%,
  #007bff 35%,
  #00b8d9 70%,
  #068398 100%
);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.button {
  /* width: 350px; */
  /* height: 80px; */
  font-size: 18px;
  border-radius: 50px;
  padding: 3px;
  background: linear-gradient(
    135deg,
    #001fff 0%,
    #007bff 25%,
    #00e5ff 50%,
    #7a00ff 75%,
    #ff00c8 100%
  );

  background-size: 300% 300%;
  animation: border 3s ease infinite;
}
.frontbut {
  background-color: #000000d9;
  width: 350px;
  height: 80px;
  border-radius: 50px;
  padding: 10px;
  color: var(--secmainCol);
  transition: box-shadow 0.2s ease-in-out 0.2s, color 0.2s ease-in-out 0.3s;
  font-size: 25px;
}
.frontbut:hover {
  box-shadow: inset 0px 0px 6px 3px #0038ff;
  color: #fff;
}

@media (max-width: 1000px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .frontbut {
    /* background-color: #000000b8; */
    width: 200px;
    height: 40px;
    /* border-radius: 50px; */
    padding: 0;
    /* color: var(--secmainCol); */
    /* transition: box-shadow 0.2s ease-in-out 0.2s, color 0.2s ease-in-out 0.3s; */
    font-size: 20px;
  }
}
