
.products{
    display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: space-between;
}
.title{
        font-size: 45px;
    padding-bottom: 30px;
  background: linear-gradient(
  135deg,
  #0033ff 10%,
  #007bff 35%,
  #00b8d9 70%,
  #068398 100%
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.total{
    width: 300px;
    height: 200px;
    background-color: #01013c;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 50px;
gap: 7px;
}
.total h1{
    font-size: 100px;
}

.total p{
    font-size: 20px;
}
.total:hover{
    color: #03A9F4;
    transition: 0.4s;
}
.total:active{
    scale: 0.9;
}

@media (max-width:800px) {
    .products{
        justify-content: center;
    }
}