footer{
    justify-content: space-between;
    display: flex;
    /* padding-bottom: ; */
    color: #fff;
}


footer ul{
    display: flex;
    gap: 2rem;
    
}

footer ul a{
    color: #ffffffcc;
    font-size: 12px;
    font-weight: 600;
    transition: 0.5s;
}
.light footer ul a{
    color: #0000007a;
}

footer ul a:hover{
    color: color(var(--subtitle));
    /* font-size: 1.009rem; */
    
    font-weight: 700;
}
.light footer ul a:hover{
    color: black;
}

footer p{
      line-height: 1.7rem;
  margin-bottom: 10px;
  color: var(--subtitle);
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.7;
  font-weight: 600;
}
.light footer p{
    color: #000000
}
footer p span{
      background: linear-gradient(
  135deg,
  #0033ff 10%,
  #007bff 35%,
  #00b8d9 70%,
  #068398 100%
);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.light footer p span{
      background: linear-gradient(
  135deg,
  #0033ff 10%,
  #007bff 35%,
  #00b8d9 70%,
  #068398 100%
);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}















@media(max-width: 800px){
    footer{
        flex-direction: column;
        gap: 10px;
    }
    footer ul {
        justify-content: space-evenly;
    }
}


















