footer{
    justify-content: space-between;
    
    padding-bottom: 2rem;
    color: #fff;
}


footer ul{
    display: flex;
    gap: 2rem;
    
}

footer ul a{
    color: #ffffffcc;
    font-size: 17px;
    font-weight: bolder;
    transition: 0.5s;
}
.light footer ul a{
    color: #0000007a;
}

footer ul a:hover{
    color: color(var(--subtitle));
    font-size: 1.009rem;
    
    font-weight: 500;
}
.light footer ul a:hover{
    color: darkorange;
}

footer p{
    color: var(--title);
}
.light footer p{
    color: rgb(188, 105, 4);
}

















@media(max-width: 800px){
    footer{
        flex-direction: column;
        gap: 2rem;
    }
}


















